body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

h1{
	color:#0000FF;
	text-align:center;
}

h2{
	color:#FF0000;
}

table, th, tr, td {
  border: 1px solid black;
  text-align:center;
}

tr:nth-child(even) {background-color: #f2f2f2;}