<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Account Manager MVC Solution – Assessment</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <link href="../../static/css/spring-core.css"
          th:href="@{css/spring-core.css}" rel="stylesheet" media="screen"/>
     
     <link rel="stylesheet" th:href="@{/css/main.css}"/>     
          
</head>
<body>
<h1>Account Manager MVC Solution</h1>
<div class="container">
	<div class="row">
        <div class="col-sm-6">
            <h2>Account Details</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Account Holder:</label>
                    <div class="col-sm-10">
                       <!--  <p class="form-control-static" th:text="${}">Name</p> -->
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Account Number</label>
                    <div class="col-sm-10">
                         <p class="form-control-static" th:text="${account.account_number}">Account Number</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Account Balance:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${account.outstanding_balance}">Account Balance</p>
                    </div>
                </div>                
            </form>
        </div>
    </div>
    <div th:if="${not #lists.isEmpty(transactions)}">
        <h2>Transactions</h2>
        <table class="table table-striped">
            <tr>                
                <th>Description</th>
                <th>Amount</th>
                <th>Transaction Details</th>
            </tr>
            <tr th:each="transaction : ${transactions}">
                
                <!-- <td th:text="${transaction.description}"></td>
                <td th:text="${transaction.amount}"></td>
                <td th:text="View"></td> -->
                <!-- <td><a th:href="${'/transcations/show/' + account.code}">View</a> </td> -->
            </tr>
        </table>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <a href="/account/new">New Account</a>
        </div>
    </div>
</div>

</body>
</html>